.button {
  position: relative;
  display: flex;
  align-items: center;
  width: 17.75rem;
  height: 3.5rem;
  justify-content: center;
  padding: 1rem 1.5rem;
  border-radius: 3.5rem;
  box-sizing: border-box;
  background: linear-gradient(92.94deg, #387cff 5.87%, #003db5 92.82%);
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  z-index: 1;
  overflow: hidden; 
}

.button::before {
  content: "";
  position: absolute;
  inset: 0; 
  padding: 1.2px; 
  border-radius: 3.5rem;
  box-sizing: border-box;
  background: linear-gradient(
    108.1deg,
    #ffffff 6.58%,
    rgba(255, 255, 255, 0) 56.41%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none; 
}

/* Hover effect */
.button:hover {
  transform: translateY(-0.0125rem);
  opacity: 0.9;
}

@media (max-width: 768px) {
  .button {
    width: 100%;
  }
}
