.card {
  width: 100%;
  padding: 1.4375rem 1rem;
  border: 0.25px solid #fff;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  box-sizing: border-box;
}


@media (max-width: 768px) {
  .card {
    padding: 1.25rem 0.75rem;
  }
}
