.industry {
  padding: 2.5rem auto;
  background-color: linear-gradient(
      180deg,
      #000510 0%,
      rgba(0, 6, 22, 0.5) 62%,
      #000718 100%
    ),
    radial-gradient(
      66.57% 177.51% at 55% 0%,
      #0e0e0f 0%,
      rgba(14, 14, 15, 0) 100%
    ),
    linear-gradient(180deg, rgba(0, 13, 45, 0) 70%, rgba(0, 13, 45, 0.05) 100%),
    radial-gradient(
      62.5% 166.67% at 50% 100%,
      rgba(0, 13, 45, 0.24) 0%,
      rgba(0, 13, 45, 0) 63%
    ),
    linear-gradient(180deg, #0a0a0b 0%, rgba(10, 10, 11, 0) 49%);
}

.industry__item {
  position: relative;
  max-width: 31.75rem;
  padding: 2rem 1.25rem;
  width: 100%;
  height: 43.25rem;
  border-radius: 0.5rem;
  background: linear-gradient(
    151.26deg,
    rgba(0, 39, 114, 0.3) 1.12%,
    rgba(0, 6, 22, 0.3) 50.56%,
    rgba(0, 39, 114, 0.3) 100%
  );
  overflow: hidden;
}

.industry__item::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 0.0625rem;
  background: linear-gradient(
    153.06deg,
    rgba(0, 86, 255, 0.6) 0.81%,
    rgba(13, 88, 235, 0) 32.76%,
    rgba(13, 88, 235, 0) 68.53%,
    rgba(0, 86, 255, 0.6) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.industry__item-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}
.industry__item-header > h6 {
  font-size: 0.875rem;
  font-weight: bold;
}
.industry__item-header > div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-primary);
}

.industry__item-content {
  margin-bottom: 0.75rem;
}

.industry__item-content > h4 {
  color: var(--color-primary);
}

.industry__item-video-container {
  border-style: solid;
  width: 30.25rem;
  height: 30.0625rem;
  border-width: 0.625rem 0 0 0.625rem; /* top + left only */
  border-color: rgba(75, 136, 255, 0.5);
  border-top-left-radius: 1rem;
}

.industry__item-video {
  width: 100%;
  height: auto;
}
