/* Reset / Normalize */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
}
/* Global typography */
body {
  font-family: var(--font-base);
  font-size: var(--font-size-md);
  line-height: 1.5;
  position: relative;
  color: var(--color-text);
  background: var(--color-bg) !important;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-base);
  color: var(--color-text);
}

p {
  font-family: "DM Sans", sans-serif;
}

/* Buttons and inputs */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}
