.title-xxs {
  font-family: var(--font-heading);
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 2%;
  font-weight: 400;
}

.title-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.title-xs {
  font-family: var(--font-heading);
  font-size: 1.75rem;
  line-height: 100%;
  letter-spacing: 2%;
  font-weight: 400;
}

.title-sm {
  font-family: var(--font-heading);
  font-size: 3rem;
  line-height: 3.625rem;
  font-weight: 400;
}

/* Medium title */
.title-md {
  font-family: var(--font-heading);
  font-size: 3.5rem;
  line-height: 4.3125rem;
  font-weight: 400;
}

/* Large title */
.title-lg {
  font-family: var(--font-heading);
  font-size: 4.5rem;
  line-height: 102%;
  font-weight: 400;
}

.subheader-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
}

.body-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
}

.container {
  width: 100%;
  padding: 0rem 24px;
  max-width: 1375px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: auto;
}

/* Reusable gradient-border component */
.gradient-border {
  position: relative;
  border-radius: var(--border-radius, 1rem); /* default radius */
  background: var(--bg, transparent);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}


.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: var(--border-width, 1px); /* thickness of border */
  border-radius: inherit;

  /* Gradient border */
  background: var(
    --border-gradient,
    linear-gradient(
      153.06deg,
      rgba(0, 86, 255, 0.6) 0.81%,
      rgba(13, 88, 235, 0) 32.76%,
      rgba(13, 88, 235, 0) 68.53%,
      rgba(0, 86, 255, 0.6) 100%
    )
  );

  /* Mask to show only border */
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
}

/* Responsive scaling for smaller screens */
@media (max-width: 768px) {
  .title-md,
  .title-lg {
    font-size: 2rem;
    line-height: 2.625rem;
  }
  .title-sm {
    line-height: 2.75rem;
    font-size: 2rem;
  }

  .body-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
  }
  .title-xs {
    font-family: var(--font-heading);
    font-size: 1.125rem;
    line-height: 100%;
    letter-spacing: 2%;
    font-weight: 400;
  }

  .container {
    padding: 0 12px;
  }

  .subheader-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 30px;
    letter-spacing: 0%;
  }
}
